@model IEnumerable<VnVGallery.Data.Gallery>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div class='imagefield_album'>
        <div class='image'>
            <a href="@Url.Action("Details", "Galleries", new { item.Id})">
                <img src='@Url.Content(item.RandomFile.BlobUri)' width="180" alt='Random image' />
            </a>
        </div>
        <div class='image_album_name'>
            <p>@Html.DisplayName(item.Name)<p>
            <a href="@Url.Action("Edit", "Galleries", new { item.Id })">Edit</a>
            <a href="@Url.Action("Delete", "Galleries", new { item.Id })">Delete</a>                        
        </div>
    </div>
}