<!DOCTYPE html>
<html>
<head>
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery - Visions and views</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div id="container">
    <div id="logo_top"><img src="@Url.Content("~/Content/images/logo.png")" class="logo" alt="Logo"/>
    </div>
    <div id="back_to_index">
        <p>This is my photogallery. You are free to download and edit them, all under the <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Common Licence</a>.
    </div>
    @RenderBody()
    <div id="footer_background">
        <div id="footer_container">
            <div id="footer_left">
                <div id="footer_sitemap">
                    <ul>
                        <li><a href="http://images.visionsandviews.net" title="Gallery Index">Gallery index</a></li>
                        <li><a href="http://www.visionsandviews.net" title="Blog">Blog</a></li>
                    </ul>
                </div>
                <div id="footer_copyrights">
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"><img alt="Creative Commons Licentie" style="border-width: 0" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png"/></a><!--<br/><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" rel="dct:type">werk</span> van <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.visionsandviews.net" property="cc:attributionName" rel="cc:attributionURL">Berend Wouters</a> is in licentie gegeven volgens een <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Naamsvermelding-NietCommercieel 3.0 Unported licentie</a>.-->
                </div>
            </div>
            <div id="footer_center">
                <div class="facebook" onclick="location.href = 'https://www.facebook.com/berend.wouters';"></div>
                <div class="twitter" onclick="location.href = 'https://www.twitter.com/BerendWouters';"></div>
                <div class="mail" onclick="location.href = '#';"></div>
            </div>
            <div id="footer_right"> <a href="#top"><img src="@Url.Content("~/Content/images/back to top.png")" width="40" height="20" alt="Terug naar boven" title="Terug naar boven" class="back_to_top"/></a>
            </div>
        </div>
    </div>
</div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/lightbox")
        @RenderSection("scripts", required: false)
</body>
</html>
 